:root {
    --primary-color: #239eed;
    --secondary-color: #fb9c3d;
    --pseudo-white: #E5E5E5;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

    margin: 0;
    padding: 0;

    background-color: var(--pseudo-white);
}
.container {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
}

h1, h2, h3, h4, h5, p {
    margin-top: 0;
}

h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 44px;
}


@media (max-width: 767.98px) {
    h2 {
        font-size: 36px;
    }

    .container {
        padding: 0 8px;
    }
}


/* -------------------- HERO -------------------- */

.hero {
    height: 100vh;
    position: relative;
}

.hero .img-wrapper {
    width: 100%;
    height: 100%;
}

.hero .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .img-wrapper::after {
    content: '';
    position: absolute;
    display: block;
    inset: 0;
    background: linear-gradient(to bottom, rgba(35, 158, 237, 0.75), rgba(7, 8, 8, 0.6));
}

.hero .container {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.hero .text-wrapper {
    color:  var(--pseudo-white);
    max-width: 600px;
    line-height: 1.4;
}

.hero h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 0;
}

.hero h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4px;
    color: var(--secondary-color)
}

.hero h2 {
    text-align: left;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.2;
}

.hero h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}


@media (max-width: 767.98px) {
    .hero .container {
        padding: 16px;
    }

    .hero h2 {
        font-size: 46px;
    }
}

/* -------------------- /HERO -------------------- */

/* -------------------- SPEAKER -------------------- */
.speakers {
    padding: 60px 20px;
}

.speakers h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}

.speakers-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.speakers-wrapper .speaker {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.speakers-wrapper .speaker img {
    width: 40%;
    max-width: 180px;
    margin-right: 20px;
    border-radius: 50%;
}

.speakers-wrapper .speaker .placeholder {
    width: 40%;
    max-width: 180px;
    border-radius: 50%;
    margin-right: 20px;

    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;
}

.speakers-wrapper .speaker .placeholder img {
    width: 100%;
    height: 100%;
    margin-right: 0;
}

.speakers-wrapper .speaker .text-wrapper {
    width: 60%;
    margin-right: 32px;
}

.speakers-wrapper .speaker h5 {
    font-size: 24px;
    margin-bottom: 12px;
}

.speakers-wrapper .speaker p {
    font-size: 18px;
    margin-bottom: 12px;
}

@media (max-width: 991.98px) {
    .speakers-wrapper .speaker {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 32px;
    }

    .speakers-wrapper .speaker .text-wrapper {
        margin-right: 0;
    }
}

@media (max-width: 767.98px) {
    .speakers-wrapper .speaker {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }

    .speakers-wrapper .speaker .text-wrapper {
        margin-right: 0;
    }
}

/* -------------------- /SPEAKER -------------------- */

/* -------------------- PROGRAM CITIES -------------------- */

.cities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.city-wrapper {
    width: calc(100% / 4 + 2px);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.city-wrapper .date {
    border-radius: 50%;
    background-color: var(--primary-color);
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-right: 20px;
    text-align: center;

}

.city-wrapper .date .number {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: var(--secondary-color);
}

.city-wrapper .date .month {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 6px;
    color: var(--pseudo-white);
}

.city-wrapper p {
    margin-bottom: 4px;
}

.city-wrapper .text-wrapper {
    width: calc(100% - 124px);
    margin-right: 20px;
}

.city-wrapper .city {
    font-size: 20px;
    font-weight: 600;
}

.city-wrapper .place {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 991.98px) {
    .city-wrapper {
        width: 50%;
    }
}

@media (max-width: 767.98px) {
    .city-wrapper {
        width: 100%;
        justify-content: flex-end;
    }

    .city-wrapper .text-wrapper {
        max-width: 360px;
    }
}
/* -------------------- /PROGRAM CITIES -------------------- */

/* -------------------- PROGRAM TIMELINE -------------------- */

.program {
    padding: 60px 20px;
}

.program .timeline {
    position: relative;
}

.program * {
    box-sizing: unset;
}

.program .point {
    width: 50%;
    position: relative;
    padding-bottom: 20px;
    padding-right: 32px;

    display: flex;
    justify-content: flex-end;
    text-align: right;
    min-height: 132px;
}

.program .point:nth-of-type(2n) {
    margin-left: 50%;
    padding-left: 32px;

    justify-content: flex-start;
    text-align: left;
}

.program .point:last-child {
    padding-bottom: 0;
    min-height: 82px;
}

.program .point .dot {
    width: 24px;
    height: 24px;
    background-color:  var(--pseudo-white);
    border-radius: 50%;
    border: 4px solid var(--secondary-color);

    position: absolute;
    right: 0;
    top: 0;
}

.program .point:nth-of-type(2n) .dot {
    left: 0;
    right: unset;
}

.program .point:before {
    position: absolute;
    content: '';
    width: 4px;
    height: 100%;
    background-color: var(--primary-color);
    right: 14px;
}

.program .point:last-child:before {
    display: none;
}

.program .point:nth-of-type(2n):before {
    left: 14px;
    right: unset;
}

.program .timeline .text-wrapper {
    padding: 0 20px;
}

.program .timeline .text-wrapper .time {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 12px;
}

.program .timeline .text-wrapper .desc {
    font-size: 20px;
    margin-bottom: 12px;
}

.program .timeline .text-wrapper .presenter {
    font-style: italic;
    margin-bottom: 0;
}

@media (max-width: 991.98px) {
    .program .timeline .text-wrapper {
        padding-left: 16px;
        padding-right: 8px;
        width: 90%;
    }

    .program .point:nth-of-type(2n) {
        padding-right: 0;
        width: calc(50% - 16px);
    }
}

@media (max-width: 767.98px) {
    .program .point {
        width: calc(100% - 16px);
        margin-left: 0;
        margin-right: 0;
        justify-content: flex-start;
        text-align: left;
        padding-bottom: 32px;
        padding-left: 32px;
        padding-right: 0;
    }

    .program .point:nth-of-type(2n) {
        margin-left: 0;
        margin-right: 0;
    }

    .program .point .dot {
        left: 0;
    }

    .program .point:before {
        right: unset;
        left: 14px;
    }

    .program .timeline .text-wrapper {
        padding-left: 16px;
        padding-right: 8px;
        width: 90%;
    }
}


/* -------------------- /PROGRAM TIMELINE -------------------- */


/* -------------------- REGISTRATION -------------------- */
.registration {
    padding: 60px 20px;
    background-color: var(--primary-color);
}

.registration h2 {
    color: var(--secondary-color);
}

.registration form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-flow: column;
}

.registration form .form-group {
    margin-bottom: 16px;
    display: flex;
    flex-flow: column;
}

.registration form label {
    padding-left: 12px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    max-width: 200px;
}

.registration form input:focus,
.registration form select:focus {
    outline: none !important;
}

.registration form input,
.registration form select {
    border: 0;
    outline: 0;

    font-size: 20px;
    padding: 12px;
    border-radius: 8px;
    background-color:  var(--pseudo-white);
}

.registration form input[type="submit"] {
    margin-top: 30px;
    background-color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* -------------------- /REGISTRATION -------------------- */

/* -------------------- PARTNERS -------------------- */
.partners {
    padding: 60px 20px;
}

.partners-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partners-wrapper .partner {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.partners-wrapper .partner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.kjk-fix {
    padding: 28px;
}

@media (max-width: 991.98px) {
    .partners-wrapper .partner {
        width: 100%;
        max-width: 220px;
        height: 160px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {
    .partners {
        padding: 60px 20px 0;
    }

    .partners-wrapper {
        flex-flow: column;
        align-items: center;
        margin: auto;
    }

    .partners-wrapper .partner {
        width: 100%;
        max-width: 220px;
        height: 160px;
        margin-bottom: 20px;
    }
}


/* -------------------- /PARTNERS -------------------- */

/* -------------------- FEEDBACK -------------------- */

.feedback {
    padding: 60px 20px;
}

.feedback .contacts-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback .contacts-wrapper a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback .contacts-wrapper a img {
    width: 32px;
    height: 32px;
    margin-right: 6px;
}

@media (max-width: 767.98px) {
    .feedback .contacts-wrapper {
        flex-flow: column;
        align-items: flex-start;
        max-width: 300px;
        margin: auto;
    }
}
/* -------------------- /FEEDBACK -------------------- */



/* -------------------- FOOTER -------------------- */
footer {
    background-color: #212529;
    padding: 8px 32px;
}

footer p {
    margin: 0;
    color: var(--pseudo-white);
    text-align: right;
}
/* -------------------- /FOOTER -------------------- */